body{
    height: 700px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.container{
    border: 3px solid red;
     height: 500px;
       width: 800px;
       display: flex;
       justify-content: center;
       align-items: center;
}
.c{
    border: 2px solid white;
    width: 30px;
    height: 30px;
    border-radius: 50px;
    margin-right: 20px;
    animation: a 1.5s infinite ease,b;
    animation-duration: 1.5s;
    transition: all;
}
.c1{
    animation-delay: 0.3s,3s;
    background-color: rgb(0, 89, 255);
    animation-name: a,b;
}
.c2{
    animation-delay: 0.2s,3.2s;
    background-color: rgb(255, 8, 0);
     animation-name: a,b;
}
.c3{
    animation-delay: 0.1s,3.4s;
    background-color: rgb(255, 183, 0);
     animation-name: a,b;
}
.c4{
    animation-delay: 0s,3.6s;
    background-color: rgb(13, 156, 13);
     animation-name: a,b;
}
@keyframes a {
    0%,100%{
        transform: translateY(0px);
    }
    50%{
        transform: translateY(-15px);
    }
}
@keyframes b{
    0%,100%{
        height: 20px;
        transform: scaleY(0);
    }
    50%{
        height: 90px;
        transform: scaleY(2);
    }
}