.container{

    padding: 10px;
    font-size: 20px;
    display: grid;
    gap: 10px;
    grid-template-columns: 1fr 3fr 3fr;
    grid-template-rows: repeat(4,150px);
}
.container>div{
    background-color: rgb(6, 220, 10);
    display: grid;
    place-items: center;
}
.header{
    border: 2px solid;
    grid-column: 1/4;
    
}
.sidebar{
    border: 2px solid;
    grid-row: 2/4;
}
.content1{
    border: 2px solid;
    grid-column: 2/4;
}
.footer{
    border: 2px solid;
    grid-column: 1/4;
}
.content2{
    border: 2px solid;
}
.content3{
    border: 2px solid;
}
p{
    font-weight: bold;
}
