body{
    background-color: black;
}
h2{
    margin-bottom: 10px;
    margin-left: 630px;
    font-size: 3rem;
    color: rgb(240, 174, 6);

}
h1{
    color: white;
    opacity: 0;
    position: absolute;
    transition-delay: sec;
       transition: all 3s ease;
}
.child3 h1{
    color: red;
}
.container{
    /* margin-top: 200px; */
    width: 1500px;;
    height: 600px;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap-reverse;
    
}
.child{
    width: 250px;
    height: 280px;
    border: 2px solid goldenrod;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
   
    
}
.child3 h1{
    margin-left: 20px;
    padding: 15px;
    transition-delay: 5sec;
}   
.o{
    width:100%;
    height: 100%;
    background-color: black;
    /* display: none; */
  
}
.side{
    margin-left: 530px;
    margin-top: 2000px;
    margin-bottom: 200px;
      width: 450px;
    height: 280px;
    border: 2px solid;
    position: relative;
   
    
}
.one{
position: absolute;
width: 100%;
opacity: 0;
   

}
.j{
    background-color: black;
    position: absolute;
    width: 100%;
    /* display: none; */
        transition: all 3s ease;
     
  
}
.child:hover h1{
    opacity:1;
 
}
.child:hover img{
    display: none;
}   

.side:hover .one{
    size: 200px;
    opacity: 1;
       transition-duration: 3s;
    
}
.side:hover .j{
       /* transition-delay: 3s; */
    display: none;

}

