*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    display: flex;
    justify-content: center;
    font-size: 2rem;
}
.container{
    width: 98vw;
    height: 50vh;
}
.navbar{
    background-color: black;
    width:100%;
    height: 15%;
    display: flex;
    justify-content: space-between;
    position: sticky;
    top:0px;
}
.sub1{
    width: 30%;
    height: 50px;
}
#menu{
    display: none;
}
.bi-list{
    display: none;
}
.logo{
    width: 100%;
    height: 50px;
}
img{
    width: 100%;
    
}
.sub2{
    width:65%;
    
}
.nav1{
    font-size: 1rem;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    width: 100%;
    height: 50px;
    color: white;
    display: flex;
    justify-content: space-around;
    margin-top:10px;
}
@media screen and (width < 600px){
    .bi-list{
        display: block;
        color: white;
        text-align: right;
    }
    .nav1{
        display:none;
    }
    #menu:checked~.nav1{
        font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
        font-size: 0.8rem;
        text-align: center;
        display: inline-block;
        height: auto;
        color:black;
        border-radius: 10px;
        background-color: white;
    }
}