.Main1{
    /* border: solid;
   

    border-color: red;
*/
  width:1510px;
  position: relative;
}

img{
    width: 100%;
    
}
strong{
    background-color: black;
    opacity: 0.7;
    
    
    
    padding:12px;
}

h1{
    color: white;
    font-weight: normal;
    position: absolute;
    top: 360px;
    right:620px;
    font-size: 40px;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    unicode-bidi: isolate;
}
.text{
    margin-left: 25px;
}
h2{
    font-weight: normal;
}
.Parent{
    margin-left: 26px;
    /* border: solid;
    border-color: red; */
    width: 1485px;
    height: 500px;
}
.Parent1{
    
    /* border: solid;
    border-color:yellow; */
    width: 1480px;
    height: 50%;
}
.Parent2{
/*     
    border: solid;
    border-color:yellow; */
    width: 1480px;
    height: 50%;
    
}
.child1{
    margin: 5px 5px 5px 0px;
    /* border:solid;
    border-color: black; */
    width: 24%;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    display: inline-block;
    position: relative;
}
.child2{
        margin: 5px 5px 5px 3px;
    /* border:solid;
    border-color: black; */
    width: 24%;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    position: relative;
    display: inline-block;
}
.child3{
       margin: 5px 5px 5px 3px;
    /* border:solid;
    border-color: black; */
    width: 24%;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    position: relative;
    display: inline-block;
}
.child4{
         margin: 5px 0px 5px 3px;
    /* border:solid;
    border-color: black; */
    width: 24%;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    position: relative;
    display: inline-block;
}
.A{
    background-color: black;
    color: white;
    position: absolute;
    top: 0px;
    padding: 11px;
    margin: 0px;
}
.B{
    background-color: black;
    color: white;
    position: absolute;
    top: 0px;
    padding: 11px;
    margin: 0px;
}
.C{
    background-color: black;
    color: white;
    position: absolute;
    top: 0px;
    padding: 11px;
    margin: 0px;
}
.D{
    background-color: black;
    color: white;
    position: absolute;
    top: 0px;
    padding: 11px;
    margin: 0px;
}