.container{
    width: 1500px;
    /* border: 2px solid red; */
    color:rgb(210, 207, 207);
    height:150px
}
.child-1{
    height: 70px;
    margin-top: 30px;
    margin-left: 220px;
    width:1050px;
    border:2px solid grey;
    border-radius: 10px;
   position: relative;
   background-color: black;
}
.child-2{
     height: 30px;
    margin-left: 445px;
    width:550px;
    /* border:2px solid grey; */
    border-radius: 0px 0px 10px 10px;
    /* color:grey; */
    display: flex;
     /* justify-content: space-between; */
     /* background-color: rgb(4, 255, 4); */
}

.sub{
    margin-left: 10px;
    display:inline-block;
    padding: 10px;
    text-align: center;
    /* color: white; */
   
}
i{
    font-size: 30px;
  
}
p{
    margin-top: 5px;
}
.bi-chevron-down{
/* border: 2px solid red; */
margin-top: -30px;
margin-left: -20px;
font-size: 15px;
position: absolute;
}
.bi-arrow-up-square-fill{
    color: rgb(4, 255, 4);
}
.subchild11 i{
    color: rgb(4, 255, 4);
}
#one{
    color: rgb(4, 255, 4);
}
.subb{
    display: flex;
    padding:5px;
    
   
}
.child-2 i{
    font-size: 20px;
}
.share p{
    text-align: center;
    margin-top: 0px;
    margin-left: 50px;
    margin-right:50px;
    
}
.stop{
   
    /* border: 2px solid black; */
    justify-content: center;
    border-radius: 0px 0px 10px;
    width: 300px;
    display: flex;
    background-color: red;
}
.share{
    display: flex;
    /* border: 2px solid black; */
    width: 600px;
     border-radius: 0px 0px 0px 10px;
     background-color: rgb(68, 255, 68);
    /* justify-content: center; */
    color: rgb(72, 72, 72);
}
.stop p{
    text-align: center;
    margin-top: 0px;
    color: white;
}
.stop i{
    color: white;
}